.link {
  padding: 20px 40px;
  text-decoration: none;
  color: #000;
  font-size: 32px;
  background: #ffffffa1;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .link {
    padding: 5px 20px;
    border-radius: 20px;
  }
}
