.review {
  padding: 0px 50px;
  color: #fff;
  text-align: center;
}

.review__title {
  font-size: 90px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .review__title {
      font-size: 60px;
      text-align: center;
      margin: 0 auto;
  }
}