.projects-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  color: #fff;
  text-align: center;
}

.projects-section__content {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .projects-section {
    padding: 0 20px;
  }
}