.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: #fff;
  background-color: #000;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo-img {
  height: 60px;
  width: 60px;
}

.header__nav {
  display: flex;
  gap: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
