.about-section {
  color: #fff;
  text-align: center;
}

.about-section__content {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .about-section__content {
          display: flex;
          flex-direction: column;
          align-items: center;
  }

  .about-section {
    padding: 0 20px;
  }
}
